

#background {
    display: block;
}

#infigure {
  display: block;
  position: relative;
  margin-top: 5px;
  float: left;
  width: 100%;
  background-color: #FAF0F6;
}

#infigure ul{
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  padding-left: 5px;
  margin-bottom: 2px;
}

#infigure ul li{
  padding-bottom: 4px;
  font-size:1.1em;
  font-weight: bold;
  font-family: monospace;
}

#cur {
  display: block;
  width: 45%;
  min-width: 45%;
  position: relative;
  float: left;
}

#total {
  display: block;
  width: 170px;
  min-width: 170px;
  position: relative;
  float: left;
}


button {
    border:0;
    color:#fff;
}

/*#result {
    display:block;
    font-family: sans-serif;
    width:230px;
    height:40px;
    margin:10px auto;
    text-align: right;
    border:0;
    background:#3b3535;
    color:#fff;
    padding-top:20px;
    font-size:20px;
    margin-left: 25px;
    outline: none;
    overflow: hidden;
    letter-spacing: 4px;
    position: relative;
    top:10px;
}*/

/*#result:hover {

    cursor: text;

}*/

/*#first-rows {
    margin-bottom: 20px;
    position: relative;
    top:10px;
}*/

input:not([type="submit"]):not([type="file"]):not([type="checkbox"]), textarea {
    font-size: 25px;
    padding: 3px 5px;
    width: 65px;
    margin-top:5px;
    margin-left:1px;
}

.btn-style:disabled {
    background: #dddddd;
}

.rows {
    width:250px;
    margin-top:5px;
}

#delete {
    width:40px;
    height:40px;
    margin-left:1px;
    border-radius:4px;
}

/* Aligning the division and dot button properly */
.fall-back {
    margin-left:1px !important;
}

/* Aligning the addition and equals to button properly */
.align {
    margin-left: 1px !important;
}

/* Button styling */
.btn-style {
    width:40px;
    height:40px;
    margin-left:1px;
    border-radius:4px;
}

.eqn {
    width:40px;
    height:40px;
    margin-left:1px;
    border-radius:4px;
}

.first-child {
 margin-left:1px;
}


/* Adding background color to the number values */
 .num-bg {
    background-color:rgb(213, 185, 119);
    background-image: url(noise.png);
    /*background-image: url(noise.png);*/
    color:#000;
    font-size:26px;
    cursor:pointer;
    outline:none;
    /*border-bottom:3px solid #333;*/
}

 .num-bg:active {
    background:rgb(13, 110, 98);
    color:#fff;
    font-size:26px;
    cursor:pointer;
    outline:none;
    box-shadow: inset 5px 5px 5px #555;
}

/*Adding background color to the operator values */
.opera-bg {
    background:rgb(119, 174, 213);
    color:#000;
    font-size:26px;
    cursor: pointer;
    outline:none;
    /*border-bottom:3px solid #555;*/
}

.opera-bg:active {
    background:rgb(13, 110, 98);
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    box-shadow: inset 4px 4px 4px #555;
}

/*Adding a background color to the delete button */
.del-bg {
    background:rgb(172, 95, 81);
    color:#FFF;
    font-size:26px;
    cursor: pointer;
    outline:none;
    /*border-bottom:3px solid #399cb9;*/
}

.del-bg:active {
    background:rgb(13, 110, 98);
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    box-shadow: inset 2px 2px 2px #399cb9;
}

/*Adding a background color to the equals to button */
#eqn-bg {
    /*background:#17a928;*/
    /*color:#fff;*/
    font-size:26px;
    cursor: pointer;
    outline:none;
    /*border-bottom:3px solid #1f7a29;*/
}

#eqn-bg:active {
    /*background:#17a928;*/
    /*color:#fff;*/
    font-size:26px;
    cursor: pointer;
    outline:none;
    box-shadow: inset 4px 4px 4px #1f7a29;
}

/*@-webkit-keyframes bgChange {
    0% {
       background:#24b4de;
    }

    50% {
      background:#17a928;
    }

    100% {
        background:#399cb9;
    }
}*/
