/* Default CSS */

html, body {-moz-user-select:none; -webkit-user-select:none; margin:0 auto; padding:0; min-width:300px; width:100%; height:100%;
    font-family: font-family: "Times New Roman", "Times", "Nimbus Roman No9 L", Serif;
  }
* {margin:0; padding:0;}

h3 {
  /*margin-left: 20px;*/
  padding-left: 5px;
  padding-bottom: 10px;}

#wrapper {

    min-height: 800px;
    height: 1px;
    width: 100%;
    height: auto !important;
    /*height: 100%;*/
    margin: 0 auto;
    margin-bottom: -60px;
    padding: 0 0 40px 0;
    /*background-color: #DF314D;*/
}

/* FOOTER ---------------------------------------------------------- */
.footer {
  display: block;
  width: 100%;
  height: 60px;
  color: #F1F1F1;
  background: #202E66;
  font-size: 12px;
  margin: 0 auto;
  clear: both;
  padding: 0;
  text-align: center;
  }

.footer p {padding-top: 5px;}

.ynm {
  display: block;
  float: left;
  margin: 10px 5px 0px 5px;
}


#namepolygon {
  margin-left: 15px;
}


#open_home {
    display: block;
    padding-left: 5px;
    float: left;
    width: 320px;
    height: 40px;
    margin: 2px 15px 7px 0px;
    color: #FFF;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5em;
}

#form_step {
    display: block;
    float: left;
    width: 300px;
    clear: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    min-width: 300px;
    padding-left: 5px;
    /*padding-right: 15px;*/
    border-radius: 10px;
    background-color: #FAF0F6;
    border: 1px solid rgb(200, 207, 206);
}

#form_step h3{
    margin: 2px;
    padding-left: 5px;
    padding-bottom: 5px;
}

#geolist {
    display: block;
    position: relative;
    width: 20%;
    float: left;
    min-width: 300px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #FAF0F6;
    border-radius: 10px;
    border-width: 1px;
    vertical-align: bottom;
    padding-left: 5px;
    padding-bottom: 15px;
    border: 1px solid rgb(200, 207, 206);
}

#geolist h3 {
  margin: 2px;
  padding-left: 5px;
  padding-bottom: 5px;
}

#geolist p {
    margin: 2px;
    padding-left: 5px;
    border-style: solid;
}

#map {
  float: left;
  position:relative;
  width: 30%;
  min-width: 320px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-bottom: 5px;
  border-radius: 10px;
  border-width: 1px;
  background-color: #FAF0F6;
}

input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type="submit"]:disabled {
    background: #dddddd;
}

input[type="submit"] {
    padding:7px 10px;
    font-size: 80%;
    background-color:#F08080;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type="submit"]:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.loader-fb {
  top: calc(-5% - 0px);
  left: 10%;
  position: relative;
}
/* Demo specific styles end */

/* Loader with three blocks */
.loader-fb, .loader-fb:before, .loader-fb:after {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 30px;
  background-color: rgba(215,230,240,0.9);
  border: 1px solid rgb(215,230,240);
  z-index: 100000;
  content: ' ';
  margin-left: -5px;
  margin-right: -9px;
}
.loader-fb:before {
  top: -11px;
  left: -100%;
  animation: loading-fb .8s cubic-bezier(.4,.5,.6,1) infinite;
}
.loader-fb {
  animation: loading-fb-main .8s cubic-bezier(.4,.5,.6,1) .2s infinite;
}
.loader-fb:after {
  top: -11px;
  right: -100%;
  margin-top: 50%;
  animation: loading-fb .8s cubic-bezier(.4,.5,.6,1) .4s infinite;
}
@keyframes loading-fb {
  from {
    transform: scaleY(1.4);
    background-color: rgba(55,114,171,0.9);
    border: 1px solid rgb(55,114,171);
  }
}
@keyframes loading-fb-main {
  from {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -10px;
    background-color: rgba(55,114,171,0.9);
    border: 1px solid rgb(55,114,171);
  }
}


fieldset {
  /*padding: 1em;*/
  font:80%/1 sans-serif;
  border:0px;
  border-bottom: 1px solid rgb(200, 207, 206);
  width: 90%;
  line-height: 35px;
  padding-left: 10px;
  }

.inp {
  vertical-align: middle;
  transform: scale(1.7);
  -moz-transform: scale(1.7); /* Для Firefox */
  -ms-transform: scale(1.7); /* Для IE */
  -webkit-transform: scale(1.7); /* Для Safari, Chrome, iOS */
  -o-transform: scale(1.7); /* Для Opera */
  margin-right: 10px;
}

#geolist label {
  font-size: 1.5em;
  vertical-align: middle;
  }

#myProgress {
  display: block;
  float: left;
  position: relative;
  width: 300px;
  min-width: 300px;
  height: 20px;
  background-color: #ddd;
  clear: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

#myBar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #4CAF50;
}

#label {
  text-align: center;
  line-height: 20px;
  color: white;
}

#message {
  display: block;
  float: left;
  position: relative;
  width: 300px;
  min-width: 300px;
  height: 20px;
  background-color: #f2e7e7;
  clear: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 80%;
}


#userapp {
  display: block;
  position: relative;
  float: right;
  width: 122px;
  height: 20px;
  /*background-color: #f2e7e7;*/
  margin-left: 5px;
  margin-bottom: 0px;
  margin-top: -20px;
  line-height: 20px;
  font-size: 50%;
  color: rgb(0, 0, 0);
}

#userindex {
  display: block;
  position: relative;
  float: right;
  width: 122px;
  height: 20px;
  /*background-color: #f2e7e7;*/
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: -40px;
  line-height: 20px;
  font-size: 50%;
  color: rgb(0, 0, 0);
}
